name: CI
permissions: write-all
on:
  pull_request:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -el {0}

jobs:
  pre-commit-checks:
    name: Pre-commit Checks
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      PRE_COMMIT_USE_MICROMAMBA: 1
    steps:
      - uses: actions/checkout@v4
      - name: micromamba installation
        uses: mamba-org/setup-micromamba@da9b4fa3cd810fa222215d6062647d3e717e7662
      - name: add micromamba to GITHUB_PATH
        run: echo "${HOME}/micromamba-bin" >> "$GITHUB_PATH"
      - name: Install Python 3.11
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Run pre-commit checks
        uses: pre-commit/action@v3.0.0
        env:
          PRE_COMMIT_USE_MICROMAMBA: 1

  ci:
    name: Testing CI
    runs-on: ubuntu-latest
    timeout-minutes: 30
    # TODO: include services database container once needed
    steps:
      - uses: actions/checkout@v4
      - name: conda env setup
        uses: mamba-org/setup-micromamba@da9b4fa3cd810fa222215d6062647d3e717e7662
        with:
          environment-file: environment.yml
          cache-environment: true
      - name: Install package
        run: python -m pip install --no-build-isolation --no-deps --disable-pip-version-check -e .
      - name: Run unit tests
        run: python -m pytest --cov-report=xml
      - name: Get Cover
        uses: orgoro/coverage@v3.1
        if: github.event_name == 'pull_request'
        with:
          coverageFile: path/to/coverage.xml
          token: ${{ github.token }}
      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git diff-index --quiet HEAD || git commit -m "Update code cov badges"
      - name: Push changes
        run: git push
